aiohttp==3.6.2
appdirs==1.4.4
asgiref==3.2.10
async-timeout==3.0.1
attrs==19.3.0
bottle==0.12.18
certifi==2020.6.20
chardet==3.0.4
click==7.1.2
distlib==0.3.1
Django==3.0.8
django-rest-framework==0.1.0
djangorestframework==3.11.0
filelock==3.0.12
Flask==1.1.2
gunicorn==20.0.4
idna==2.10
itsdangerous==1.1.0
Jinja2==2.11.2
MarkupSafe==1.1.1
multidict==4.7.6
pyee==7.0.2
pytz==2020.1
requests==2.24.0
six==1.15.0
slackbot==1.0.0
slackclient==2.7.3
slacker==0.14.0
slackeventsapi==2.2.1
sqlparse==0.3.1
urllib3==1.25.10
virtualenv==20.0.28
websocket-client==0.44.0
Werkzeug==1.0.1
yarl==1.5.1
